.input-box {
    margin: 15px 0;
    position: relative;
}
.input-box label {
    position: absolute;
    right: 20px;
    color: #b0b3b6;
    background-color: white;
    transition-duration: 0.2s;
}
.form-control {
    border-radius: 5px !important;
    height: 50px;
}

.form-control:focus {
    box-shadow: none !important;
}

.error-border{
    border: solid 1px red !important;
}

.has-error{
    color: red !important;
    font-size: 14px;
}

.input-box .input-div{
    border-radius:5px !important;
    display: flex;
    align-items: center; 
    border: 1px solid #d3d3d3;
    padding: 0 10px;
}


.input-box .input-div .form-control{
    border: none !important;
}

.select-tag {
    position: relative;
}

.input-div{
    background-color: white;
    border-radius: 5px !important;
    border: 1px solid #d3d3d3;
    padding: 0 10px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-tag .item-list
{
    background-color: white;
    position: absolute;
    z-index: 100000;
    cursor: pointer;
    padding: 0 10px;
    border-bottom: 1px #d3d3d3 solid;
    border-right: 1px #d3d3d3 solid;
    border-left: 1px #d3d3d3 solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.select-tag .item-list ul li {
    padding: 5px;
}

.select-tag .item-list ul li.active {
    background-color: #dfdfdf;
    border-radius: 5px;
}

.select-tag .item-list ul
{
    max-height: 15rem;
    overflow: auto;
    padding: 0 10px;
}

.select-tag .item-list ul::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.select-tag .item-list ul::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
.select-tag .item-list ul::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
}

/* Handle on hover */
.select-tag .item-list ul::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.select-tag .fa-angle-down{
    transition: transform 0.3s ;
}

.checkbox-div 
{
    display: flex;
}
.checkbox-div input[type=checkbox]{
    position: relative;
    border: 2px solid #25bdd1 ;
    background-color: none;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    border-radius: 5px;
    opacity: 0.7;
    margin-left: 5px;
}

.checkbox-div input[type=checkbox]:checked{
    background-color: #25bdd1;
    opacity: 1;
}

.checkbox-div input[type=checkbox]:checked::before{
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-50%,-50%);
    z-index: 2;
}