@font-face {
    font-family: Shabnam;
    src: url("/fonts/Shabnam/Shabnam.eot?#iefix") format("enbeded-opentype"),
        url("/fonts/Shabnam/Shabnam.woff2") format("woff2"),
        url("/fonts/Shabnam/Shabnam.woff") format("woff"),
        url("/fonts/Shabnam/Shabnam.tff") format("truetype");
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none !important;
    color: black;
}

body {
    font-family: Shabnam, serif !important;
    direction: rtl;
    text-align: right;
}

.fs-7 {
    font-size: 7px !important;
}
.fs-8 {
    font-size: 8px !important;
}
.fs-9 {
    font-size: 9px !important;
}
.fs-10 {
    font-size: 10px !important;
}
.fs-12 {
    font-size: 12px !important;
}
.fs-13 {
    font-size: 13px !important;
}
.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-19 {
    font-size: 19px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-21 {
    font-size: 21px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-23 {
    font-size: 23px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.color-grey {
    color: #81858b;
}

.color-grey-2 {
    color: #62666d !important;
}

.color-grey-3 {
    color: #62666d;
}

.b-color-grey {
    background-color: #f0f0f1;
}

.text-bold {
    font-weight: bold;
}

.pl-5px {
    padding-left: 5px !important;
}

.pr-5px {
    padding-right: 5px !important;
}

.line-h-2 {
    line-height: 2.3;
}

.none-list-style {
    list-style: none;
}

.title_two_line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.float-left {
    float: left !important;
}

.line-through {
    text-decoration-line: line-through;
}

.mr-auto {
    margin-right: auto !important;
}

.border-top {
    border-top: 1px solid #e0e0e2;
    padding-top: 20px;
}

.color-blue {
    color: #59adea;
}

.cursor-pointer {
    cursor: pointer;
}

.mt-60{
    margin-top: 60px;
}