@font-face {
    font-family: Shabnam;
    src: url("/fonts/Shabnam/Shabnam.eot?#iefix") format("enbeded-opentype"),
        url("/fonts/Shabnam/Shabnam.woff2") format("woff2"),
        url("/fonts/Shabnam/Shabnam.woff") format("woff"),
        url("/fonts/Shabnam/Shabnam.tff") format("truetype");
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none !important;
}
body {
    font-family: Shabnam, serif !important;
    direction: rtl;
    text-align: right;
}

.fs-7 {
    font-size: 7px !important;
}
.fs-8 {
    font-size: 8px !important;
}
.fs-9 {
    font-size: 9px !important;
}
.fs-10 {
    font-size: 10px !important;
}
.fs-12 {
    font-size: 12px !important;
}
.fs-13 {
    font-size: 13px !important;
}
.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.color-gray {
    color: #81858b;
}

.b-color-gray {
    background-color: #f0f0f1;
}

.text-bold {
    font-weight: bold;
}

.header-navigation{
    list-style: none !important;
    margin: 5px 0 0 !important;
}

.header-navigation li{
   padding: 10px;
}

.header-navigation li a{
    color: #62666d;
    font-size: 14px;
 }

.pl-5px{
    padding-left: 5px !important;
}
.pr-5px{
    padding-right: 5px !important;
}
.none-list-style{
    list-style: none;
}