.desktop-header-mega-menu{
    display: flex;
    position: absolute;
    width: calc(100% - 40px);
    right: 20px;
    left: 20px;
    background-color: #f0f0f1;
    z-index: 2000;
    border-radius: 0 0 5px 5px;
    height: 480px;
}

.desktop-header-mega-menu .right-list{
    width: 250px;
    height: 100%;
    border-left: 1px solid #d5d5d5;
}


.desktop-header-mega-menu .right-list ul,
.desktop-header-mega-menu .left-list ul{
    padding-right: 0;
}

.desktop-header-mega-menu .right-list ul li{
    padding: 10px;
    cursor: pointer !important;
}

.desktop-header-mega-menu .right-list ul li a{
    color: #565656;
}

.desktop-header-mega-menu .right-list ul li.active{
    width: 100%;
    background-color: #ffffff;
}

.desktop-header-mega-menu .right-list ul li.active a{
    color: #e9054d;
}

.desktop-header-mega-menu .left-list main-group{
    color: black !important;
    font-weight: bold;
}