.header-container {
    height: 125px;
}

.h-search-input {
    width: 660px;
    margin: 15px;
    height: 44px;
    background-color: #f0f0f1;
}

.theme-header .logo img {
    width: 120px;
}

.theme-header {
    z-index: 100;
    position: fixed;
    background: white;
    border-bottom: 1px solid #e3e3e3;
}

.header-navigation {
    list-style: none !important;
    margin: 5px 0 0 !important;
    padding-right: 0 !important;
}

.header-navigation li {
    margin: 0 10px;
    padding: 10px 0;
}

.header-navigation li a {
    color: #62666d;
    font-size: 14px;
}

.black-cover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.hover-line {
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    transform: scaleX(0);
}
.hover-line div::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    height: 2px;
    background-color: #e9054d;
}

.product-theme1 {
    display: flex;
    padding: 15px;
    align-items: center;
}

.product-theme1 .product-small-image {
    width: 86px;
    height: 86px;
}

.product-theme1 .product-number-box {
    color: #59adea;
    line-height: 2.1;
    font-size: 1.9rem;
    font-weight: 800;
}

.products-list .product-grid-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.products-list .product-grid-list:has(.product-theme1) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.products-list .product-grid-list:has(.product-theme2) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.products-list .product-grid-list .product-theme2 {
    border-bottom: 1px solid #e8e8e8;
}

.product-theme2 {
    background-color: white;
    padding: 15px;
    border-left: 1px solid #e8e8e8;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-image {
    width: 135px;
    height: 135px;
    object-fit: contain;
    margin: 20px auto;
    display: block;
}

.old-price {
    color: #c0c2c5;
    text-decoration-line: line-through;
}

.products-horizontal-slider .swiper-slide:has(.product-theme2) {
    width: 250px;
}

.products-horizontal-slider .swiper-slide:has(.product-theme1) {
    width: 400px;
}
